body
    font-size 12px
section#main
    text-align center
    h2
        font-size 2em
        margin 0px
        padding 0.3em
    h1
        font-size 3em
        margin 0px
        padding 0.3em
    img
        height 130px
    ol
        margin-left auto
        margin-right auto
        padding 0px
        width 150px
        li
            margin-bottom 2em
            width 150px
            display block
section#details
    .arrow
        left -10px
        width 20px
        margin-top -14px
    article
        text-align center
        float none
        margin-left auto
        margin-right auto
        width 300px
        p
            display block
            margin-left 0px
        ul
            margin 0px
            li
                padding 0px
                span.where
                    display none
                span.when
                    display none
                span.why
                    display none
                span.catalogue
                    display none
section#details article:nth-child(2n+1)
    text-align center
    padding-top 0px
    ul
        margin 0px
        margin-top 2em
        li:nth-child(2)
            padding-top 0px
            img
                display none
section#browse
    ul
        li
            width 50%
            height 280px
            background-size auto 200px
            span
                margin-top 220px
                margin-left 10px
footer
    position relative
    ul
        padding 0px
section#brief
    margin 0px
section#brief h1, section#brief h2, section#brief p, section#project h1, section#project h2, section#project p
    margin 0px
    padding 15px
    width auto
section#main.hero-image
    height 100px
