/**
 * Site specific CSS
 */
body
    background-image url('../images/noisy_net.png')
    font-size 15px
a
    -o-transition 0.5s
    -ms-transition 0.5s
    -moz-transition 0.5s
    -webkit-transition 0.5s
    transition 0.5s
header
    z-index 1000
    border-top 5px solid #12171b
    background-image url('../images/light_noise_diagonal.png')
    overflow hidden
    -webkit-box-shadow:  0px 15px 30px 0px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 15px 30px 0px rgba(0, 0, 0, 0.5);
    position fixed
    width 100%
    h2
        margin 0px
        margin-left 15px
        padding-right 17px
        line-height 35px
        background-image url('../images/divider.png')
        background-repeat repeat-y
        background-position top right
        display inline-block
        font-weight 900
        font-size 0.8em
        a
            color #595f6a
            text-shadow 0px 1px 0px rgba(255, 255, 255, 0.5)
            font-family 'Lato', sans-serif
            text-decoration none
        a:hover
            color #121212
        img
            vertical-align middle
            margin-right 0.5em
section#blurb
    background-image url('../images/light_noise_diagonal.png')
    z-index 100
    min-height 5px
    top 40px
    width 100%
    position fixed
section#main
    margin 0px
    overflow hidden
    padding-top 40px
    background-image url('../images/showcase1.jpg')
    z-index 100
    webkit-background-size cover
    moz-background-size cover
    o-background-size cover
    background-size cover
    h1
        color #fff
        font-family 'Lato', sans-serif
        font-weight 900
        font-size 3.8em
        letter-spacing -0.07em
        margin-top 0.8em
        margin-left 0.8em
    p
        font-family 'Lato', sans-serif
        font-weight 700
        font-size 1.52em
        color #121212
        text-shadow 0px 1px 0px rgba(255, 255, 255, 0.2)
        margin-left 2em
        text-transform lowercase
    ol
        list-style-type none
        li
            vertical-align top
            width 200px
            display inline-block
            a
                text-shadow 0px 1px 0px rgba(255, 255, 255, 0.2)
                text-decoration none
                color #121212
                font-size 3em
                font-family 'Arial', sans-serif
                span
                    display block
                    font-size 0.3em
                span:first-child
                    font-weight bold
            a:hover
                color #555
section#details
    overflow hidden
    article:nth-child(even)
        text-align right
        h3
            text-align right
            margin-right 1.013em
        ul
            margin-right 3.04em
    article
        color #595f6a
        float left
        width 50%
        a
            color #aaa
            text-decoration none
        a:hover
            color #eee
        h2
            font-family 'Lato', sans-serif
            font-weight 100
            text-shadow 0px -1px 0px rgba(0, 0, 0, 0.5)
            text-transform uppercase
            background-image url('../images/logos/analogue.png')
            background-position center left
            line-height 128px
            background-repeat no-repeat
            padding-left 128px
            font-size 3em
            margin-left 1.013em
            margin-top 1.013em
        h3
            text-shadow 0px -1px 0px rgba(0, 0, 0, 0.5)
            margin-top 1.013em
            font-size 3em
            margin-left 1.013em
            font-family 'Lato', sans-serif
            font-weight 100
            line-height 128px
            text-transform uppercase
        p
            margin-left 3.04em
        ul
            padding 0px
            list-style-type none
            margin-left 3.04em
            li
                padding-left 100px
                line-height 2em
                span
                    font-weight bold
                    position absolute
                    margin-left -100px
                    padding-left 25px
                    background-repeat no-repeat
                    background-position center left
                span.where
                    background-image url('../images/icons/location.png')
                span.when
                    background-image url('../images/icons/calendar.png')
                span.why
                    background-image url('../images/icons/question_mark.png')
footer
    background-color #121212
    text-align center
    ul
        list-style-type none
        margin 0px
        li
            display inline-block
            margin-right 20px
            margin-left 20px
            line-height 50px
            a
                color #595f6a
                text-decoration none
                font-size 0.7em
            a:hover
                color #aaa
