<section id="project" class="hero-image">
    <h1>
        About the Architecture Graduation Exhibition
    </h1>

    <h2>
        The annual catalogue
    </h2>

    <p>
        The University of Sydney Architecture Faculty puts together an annual
        exhibition for its graduating Bachelors and Masters students. This gives
        students an opportunity to showcase their best projects. An event is
        held to exhibit these works, and along with this a hardcopy curated
        catalogue and a digital catalogue is released.
    </p>

    <h2>
        The online catalogue
    </h2>

    <p>
        This online catalogue is a work in progress to give students a digital
        medium to showcase their works, and to archive the works of previous
        years exhibitions.
    </p>

    <h2>
        Developer information
    </h2>

    <p>
        The catalogue system and interface is accessible via its <a href="http://github.com/Moult/usydarchexhibition/">Git repository</a>.
    </p>

    <p>
        <a href="{{baseurl}}" class="button">Back to the homepage</a>
    </p>
</section>
