<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
<header>
    <h2><a href="#"><img src="{{baseurl}}images/icons/catalogue.png" width="16" height="16" alt="Catalogue icon">University of Sydney Architecture catalogue</a></h2>
    <h2><a href="#"><img src="{{baseurl}}images/icons/analogue.png" width="16" height="16" alt="Analogue icon">2013 Analogue</a></h2>
    <h2 class="dropdown">
        <a href="#"><img src="{{baseurl}}images/icons/student.png" width="12" height="16" alt="Student icon">Bachelor: Flinders St Station <img src="{{baseurl}}images/icons/dropdown.png" width="16" height="12" alt="Dropdown arrow"></a>
        <ul class="dropdown">
            <li><a href="#">Masters: Beach City</a></li>
            <li><a href="#">Masters: Urban Heterodoxy</a></li>
            <li><a href="#">Masters: The Intimate Metropolis</a></li>
            <li><a href="#">Masters: National Centre for Cultural Competence</a></li>
        </ul>
    </h2>
</header>
<section id="main" class="flinders-st-project">
</section>
<section id="brief">
    <h1>
        Flinders Street Station
    </h1>
    <h2>
        Macro / Micro
    </h2>
    <p>
        To produce a bold and viable vision for the re-development of the
        Flinders Street Station in Melbourne at both urban and architectural
        scales: an innovative design proposal that will reinvigorate the
        historic Flinders Street Station, improve its transport function and
        unlock the urban design and development potential of the precinct.
    </p>
    <p class="readmore">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in viverra
        mauris. Integer placerat, turpis id tristique sagittis, erat velit lobortis
        orci, sit amet posuere risus diam in elit. Integer eget arcu elit. Quisque
        vestibulum hendrerit molestie. Morbi a nulla bibendum, vulputate sapien
        pellentesque, lobortis ipsum. Pellentesque elit justo, condimentum ut
        accumsan eu, tincidunt quis elit. Proin luctus fermentum urna eget pharetra.
        Aenean lacinia sodales velit et interdum. Cras ullamcorper posuere mauris,
        pretium ultricies dolor pulvinar congue. Praesent leo purus, porttitor sit
        amet massa vitae, pharetra tincidunt dolor. Vivamus euismod urna ac commodo
        auctor. Praesent in eros nulla. Vestibulum elementum.
    </p>
    <p>
        <a href="#" class="readmore">Read more</a>
    </p>
</section>
<section id="browse">
    <ul>
        <li><span><strong>Project Name</strong><br>Author name</span></li>
        <li><span><strong>Project Name</strong><br>Author name</span></li>
        <li><span><strong>Project Name</strong><br>Author name</span></li>
        <li><span><strong>Project Name</strong><br>Author name</span></li>
        <li><span><strong>Project Name</strong><br>Author name</span></li>
        <li><span><strong>Project Name</strong><br>Author name</span></li>
        <li><span><strong>Project Name</strong><br>Author name</span></li>
        <li><span><strong>Project Name</strong><br>Author name</span></li>
        <li><span><strong>Project Name</strong><br>Author name</span></li>
        <li><span><strong>Project Name</strong><br>Author name</span></li>
        <li><span><strong>Project Name</strong><br>Author name</span></li>
        <li><span><strong>Project Name</strong><br>Author name</span></li>
        <li><span><strong>Project Name</strong><br>Author name</span></li>
        <li><span><strong>Project Name</strong><br>Author name</span></li>
        <li><span><strong>Project Name</strong><br>Author name</span></li>
    </ul>
</section>
<footer>
    <ul>
        <li><a href="#">About this site</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Legal</a></li>
        <li><a href="#">Faculty Website</a></li>
        <li><a href="#">Check us out on Facebook</a></li>
    </ul>
</footer>
