<section id="main">
    <h2>
        University of Sydney<br>
    </h2>
    <h1>
        Architecture Graduation Exhibition
    </h1>
    <ol>
        <li>
            <a href="#">
                <img src="{{baseurl}}images/logos/amaze.png" alt="aMaze Logo">
                <br>
                2011: aMaze
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{{baseurl}}images/logos/transform.png" alt="Transform Logo">
                <br>
                2012: Transform
            </a>
        </li>
        <li>
            <a href="#" id="viewDetails">
                <img src="{{baseurl}}images/logos/analogue.png" alt="Analogue Logo">
                <br>
                2013: Analogue
            </a>
            <a href="#analogue" class="scroll" id="scrollToDetails"></a>
        </li>
    </ol>
</section>
<section id="details">
    <img src="{{baseurl}}images/arrow.png" class="arrow">
    <article>
        <p>
        The Faculty of Architecture, Design and Planning is proud to present:<br>
        ANALOGUE, the 2013 architecture graduation exhibition.
        </p>
        <p>
            The exhibition brings together 200 undergraduate and postgraduate student works spread across 5 diverse projects.
        </p>
        <ul>
            <li>
                <span class="catalogue">Works</span>
                <a href="{{baseurl}}flinders-st-station/" class="button">
                    View Bachelors Catalogue: Flinders St Station
                </a>
            </li>
            <li>
                <a href="{{baseurl}}beach-city/" class="button">
                    View Masters Catalogue: Beach City
                </a>
            </li>
            <li>
                <a href="{{baseurl}}urban-heterodoxy/" class="button">
                    View Masters Catalogue: Urban Heterodoxy
                </a>
            </li>
            <li>
                <a href="{{baseurl}}the-intimate-metropolis/" class="button">
                    View Masters Catalogue: The Intimate Metropolis
                </a>
            </li>
            <li>
                <a href="{{baseurl}}national-centre-for-cultural-competence/" class="button">
                    View Masters Catalogue: National Centre for Cultural Competence
                </a>
            </li>
            <li>
                <span class="where">Where</span>
                148 City Road, Darlington, the "Wilkinson" Building<br>
                <img src="{{baseurl}}images/map.png" alt="Map of Wilkinson Building Architecture Faculty" width="300" height="200">
            </li>
            <li>
                <span class="when">When</span>
                5th December 6PM - Opening Night<br>
                3rd-9th December - Open for Public
            </li>
            <li>
                <span class="why">Why</span>
                Free booze, live music, and amazing design
            </li>
        </ul>
    </article>
    <article>
        <ul>
            <li><img src="{{baseurl}}/images/logos/usyd.png" width="185" height="64" alt="The University of Sydney Logo"></li>
            <li><img src="{{baseurl}}/images/logos/analogue_sponsors.png" width="600" height="300" alt="Analogue Sponsors Logos"></li>
        </ul>
    </article>
</section>
