<header>
    <h2>architecture.</h2>
</header>
<section id="showcase">
    <h1>
        University of Sydney<br>
        Architecture Graduation Exhibition
    </h1>
    <p>
        Select a year
    </p>
    <ol>
        <li><a href="#">2011<span>aMaze</span></a></li>
        <li><a href="#">2012<span>Transform</span></a></li>
        <li><a href="#">2013<span>Analogue</span><span>Coming soon</span></a></li>
    </ol>
    <ol>
        <li><a href="#">View showcase image 1</a></li>
        <li><a href="#">View showcase image 2</a></li>
        <li><a href="#">View showcase image 3</a></li>
        <li><a href="#">View showcase image 4</a></li>
    </ol>
</section>
<section id="details">
    <article>
        <h2>Analogue</h2>
        <p>
            The Faculty of Architecture, Design and Planning is proud to present: ANALOGUE, the 2013 architecture graduation exhibition.
        </p>
        <ul>
            <li>
                <span>Where</span>
                148 City Road, Darlington, the "Wilkinson" Building
            </li>
            <li>
                <span>When</span>
                1st December - Opening Night<br>
                2nd December - Something
            </li>
            <li>
                <span>Why</span>
                Free booze
            </li>
        </ul>
    </article>
    <article>
        <h3>The University of Sydney</h3>
    </article>
</section>
