<link href="http://fonts.googleapis.com/css?family=Lato:100,700,900" rel="stylesheet" type="text/css">
<header>
    <h2><a href="#"><img src="{{baseurl}}images/icons/catalogue.png" width="16" height="16" alt="Catalogue icon"> catalogue index.</a></h2>
</header>
<section id="blurb">
</section>
<section id="main">
    <h1>
        University of Sydney<br>
        Architecture Graduation Exhibition
    </h1>
    <p>
        Select a year
    </p>
    <ol>
        <li><a href="#"><img src="{{baseurl}}images/logos/analogue.png" alt="Analogue Logo">2011<span>aMaze</span></a></li>
        <li><a href="#"><img src="{{baseurl}}images/logos/analogue.png" alt="Analogue Logo">2012<span>Transform</span></a></li>
        <li><a href="#"><img src="{{baseurl}}images/logos/analogue.png" alt="Analogue Logo">2013<span>Analogue</span><span>Coming soon</span></a></li>
    </ol>
</section>
<section id="details">
    <article>
        <h2>Analogue</h2>
        <p>
        The Faculty of Architecture, Design and Planning is proud to present:<br>
        ANALOGUE, the 2013 architecture graduation exhibition.
        </p>
        <p>
            The exhibition brings together 200 undergraduate and postgraduate student works spread across 5 diverse projects.
        </p>
        <ul>
            <li>
                <span class="where">Where</span>
                148 City Road, Darlington, the "Wilkinson" Building<br>
                Note to self: insert map
            </li>
            <li>
                <span class="when">When</span>
                1st December - Opening Night<br>
                2nd December - Something
            </li>
            <li>
                <span class="why">Why</span>
                Free booze, live music, and amazing design
            </li>
        </ul>
        <p>
            <a href="#">Learn more about the exhibition</a>
        </p>
    </article>
    <article>
        <h3>Sponsors</h3>
        <ul>
            <li><a href="#"><img src="{{baseurl}}/images/logos/usyd.png" width="185" height="64" alt="The University of Sydney Logo"></a></li>
        </ul>
    </article>
</section>
<footer>
    <ul>
        <li><a href="#">About this site</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Legal</a></li>
        <li><a href="#">Faculty Website</a></li>
        <li><a href="#">Check us out on Facebook</a></li>
    </ul>
</footer>
