<link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
<div class="container">
<header>
    <h2><a href="{{baseurl}}"><img src="{{baseurl}}images/icons/catalogue.png" width="16"
            height="16" alt="Catalogue icon">University of Sydney Architecture catalogue</a></h2>
</header>
<section id="main">
    <h2>
        University of Sydney<br>
    </h2>
    <h1>
        Architecture Graduation Exhibition
    </h1>
    <h2>coming soon</h2>
</section>
<footer>
    <ul>
        <li><a href="http://sydney.edu.au/architecture/">Faculty Website</a></li>
        <li><a href="https://www.facebook.com/pages/Analogue-USYD-Architecture-Graduate-Exhibition/232128746943622">Check us out on Facebook</a></li>
    </ul>
</footer>
</div>
