<link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
<div class="container">
<header>
    <h2><a href="#"><img src="{{baseurl}}images/icons/catalogue.png" width="16"
            height="16" alt="Catalogue icon">University of Sydney Architecture catalogue</a></h2>
</header>
<section id="submit">
    <h1>Submit your work</h1>
    <p>
        Use the form below to submit your student work to the catalogue. If you
        have any questions, please send them to <a href="mailto:dmou8237@uni.sydney.edu.au">dmou8237@uni.sydney.edu.au</a>
    </p>
    <form action="" method="post">
        <label for="name">Project title</label>
        <input type="text">
        <span>Use keywords that are relevant to your project. Eg: "Flinders Railway Parametric Urban Forest"</span>

        <label for="name">Category</label>
        <select>
            <option>Flinders St Station - Ross Anderson</option>
            <option>Urban Heterodoxy - Michael Zanardo</option>
            <option>Programmatic Sculpture - François Blanciak</option>
            <option>Do Not Disturb - Nathan Etherington</option>
        </select>
        <span>Select the studio which you are part of.</span>

        <label for="name">Your full name</label>
        <input type="text">
        <span>Eg: "Johnathan Doe"</span>

        <label for="name">Your website</label>
        <input type="text">
        <span>Optional. Will be publicly displayed. Eg: "http://www.myportfolio.com/"</span>

        <label for="name">Your email</label>
        <input type="text">
        <span>Optional. Will be publicly displayed. Do NOT use your university email address. Eg: "starchitect@gmail.com"</span>

        <label for="name">Project summary</label>
        <textarea></textarea>
        <span>Max 100 words. Use keywords relevant to your project. A double line break indicates a new paragraph.</span>

        <label for="name">Project detail</label>
        <textarea></textarea>
        <span>Max 250 words. This is supplementary project information. A double line break indicates a new paragraph.</span>

        <label for="name">Main image</label>
        <input type="file">
        <span>PNG/JPG only, 4MB max, min 1200px width, use a logical name. eg: "flinders_parametric_urban_forest.png", not "final_render_2.png".</span>

        <label for="name">Extra image 1</label>
        <input type="file">
        <span>Optional. PNG/JPG only, 4MB max, min 600px width, use a logical
            name. eg: "forest_admin_building.png", not "final_render_2.png".</span>

        <label for="name">Extra image 2</label>
        <input type="file">
        <span>Optional. PNG/JPG only, 4MB max, min 600px width, use a logical
            name. eg: "forest_admin_building.png", not "final_render_2.png".</span>

        <label for="name">Extra image 3</label>
        <input type="file">
        <span>Optional. PNG/JPG only, 4MB max, min 600px width, use a logical
            name. eg: "forest_admin_building.png", not "final_render_2.png".</span>

        <input type="submit" value="Submit">
    </form>
    <p>
        Note that you will not see your work immediately and all content will be
        moderated before being published.
    </p>
</section>
</div>
