<section id="project" class="flinders-st-project">
    <img src="{{baseurl}}images/heroimage.png">
    <h1>
        Flinders Hotel
    </h1>
    <h2>
        By Johnathan Doe
        <span>
            <a href=#"><img src="{{baseurl}}images/icons/website.png"></a>
            <a href=#"><img src="{{baseurl}}images/icons/email.png"></a>
        </span>
    </h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in viverra
        mauris. Integer placerat, turpis id tristique sagittis, erat velit lobortis
        orci, sit amet posuere risus diam in elit. Integer eget arcu elit. Quisque
        vestibulum hendrerit molestie. Morbi a nulla bibendum, vulputate sapien
        pellentesque, lobortis ipsum. Pellentesque elit justo, condimentum ut
        accumsan eu, tincidunt quis elit. Proin luctus fermentum urna eget pharetra.
        Aenean lacinia sodales velit et interdum. Cras ullamcorper posuere mauris,
        pretium ultricies dolor pulvinar congue. Praesent leo purus, porttitor sit
        amet massa vitae, pharetra tincidunt dolor. Vivamus euismod urna ac commodo
        auctor. Praesent in eros nulla. Vestibulum elementum.
    </p>
    <p class="readmore">
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas dignissim ligula nunc, in pretium lectus facilisis sed. Duis pellentesque a lorem ut dignissim. Etiam dapibus ornare ipsum vitae porttitor. Ut ultrices sollicitudin tellus, a laoreet sem. Vivamus eu euismod velit, sit amet adipiscing dolor. Donec congue turpis ut mi pulvinar, at venenatis nibh luctus. Duis et risus mauris. Sed odio tortor, tincidunt eu malesuada id, venenatis a augue.
    </p>

    <p class="readmore">
Etiam non sapien nunc. Nam rutrum gravida tempor. Suspendisse nec elit sed dolor pharetra fringilla quis quis erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed arcu justo, malesuada sit amet lectus id, luctus fringilla odio. Curabitur sit amet vestibulum quam, vitae iaculis massa. Aenean placerat tristique congue. Duis ut est elementum, ullamcorper nisi et, accumsan odio. Fusce neque orci, accumsan a elementum ullamcorper, dignissim sed purus. In imperdiet vel augue vel lobortis. Duis sodales molestie accumsan. Nunc fermentum sapien eu iaculis auctor. Integer porta mauris velit, vel auctor nisl blandit ac. Nunc ornare velit felis, eget pharetra mauris vestibulum sit amet.
    </p>

    <p class="readmore">
Vestibulum suscipit purus at orci laoreet, nec faucibus elit interdum. Fusce ut cursus lacus, a vestibulum tellus. Vestibulum semper ullamcorper arcu vitae iaculis. In rhoncus sed lacus ac laoreet. Nam blandit sem nec felis tempus pellentesque. Proin ullamcorper eros magna, nec varius eros tempus eu. Nulla laoreet, mauris fringilla volutpat ultricies, eros nibh consectetur odio, ac porta arcu sem non lectus. Quisque nisl dolor, rhoncus et diam quis, consequat egestas.
    </p>

    <p>
        <a href="#" class="readmore">Read more</a>
    </p>
    <img src="{{baseurl}}images/heroimage.png" class="supplementary">
    <img src="{{baseurl}}images/heroportrait.png" class="supplementary">
</section>
