<link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
<div class="container">
<header>
    <h2><a href="#"><img src="{{baseurl}}images/icons/catalogue.png" width="16"
            height="16" alt="Catalogue icon">University of Sydney Architecture catalogue</a></h2>
</header>
<section id="submit">
    <h1>Submit your work</h1>
    <p>
        Use the form below to submit your student work to the catalogue. If you
        have any questions, please send them to <a href="mailto:dmou8237@uni.sydney.edu.au">dmou8237@uni.sydney.edu.au</a>
    </p>
    {{#has_errors}}
    <div class="error">
        <p>
            Uh oh! There are a few things you need to fix before we can accept
            your submission:
        </p>
        <ul>
        {{#errors}}
            <li>{{error}}</li>
        {{/errors}}
        </ul>
    </div>
    {{/has_errors}}
    <form action="" method="post" enctype="multipart/form-data">
        <label for="name">Project title</label>
        <input type="text" name="name" value="{{name}}" required>
        <span>Use keywords that are relevant to your project. Eg: "Flinders Railway Parametric Urban Forest"</span>

        <label for="category">Category</label>
        <select name="category">
            {{#categories}}
            <option value="{{id}}"{{#is_selected}} selected="selected"{{/is_selected}}>{{name}}</option>
            {{/categories}}
        </select>
        <span>Select the studio which you are part of.</span>

        <label for="author">Your full name</label>
        <input type="text" name="author" value="{{author}}" required>
        <span>Eg: "Johnathan Doe"</span>

        <label for="website">Your website</label>
        <input type="url" name="website" value="{{website}}">
        <span>Optional. Will be publicly displayed. Eg: "http://www.myportfolio.com/"</span>

        <label for="email">Your email</label>
        <input type="email" name="email" value="{{email}}">
        <span>Optional. Will be publicly displayed. Do NOT use your university email address. Eg: "starchitect@gmail.com"</span>

        <label for="summary">Project summary</label>
        <textarea name="summary" required>{{summary}}</textarea>
        <span>Max 100 words. Use keywords relevant to your project. A double line break indicates a new paragraph.</span>

        <label for="description">Project detail</label>
        <textarea name="description" required>{{description}}</textarea>
        <span>Max 250 words. This is supplementary project information. A double line break indicates a new paragraph.</span>

        <label for="file">Main image</label>
        <input type="file" name="file">
        <span>PNG/JPG only, 4MB max, min 1200px width, use a logical name. eg: "flinders_parametric_urban_forest.png", not "final_render_2.png".</span>

        <label for="supplementary_1">Extra image 1</label>
        <input type="file" name="supplementary_1">
        <span>Optional. PNG/JPG only, 4MB max, min 600px width, use a logical
            name. eg: "forest_admin_building.png", not "final_render_2.png".</span>

        <label for="supplementary_2">Extra image 2</label>
        <input type="file" name="supplementary_2">
        <span>Optional. PNG/JPG only, 4MB max, min 600px width, use a logical
            name. eg: "forest_admin_building.png", not "final_render_2.png".</span>

        <label for="supplmentary_3">Extra image 3</label>
        <input type="file" name="supplementary_3">
        <span>Optional. PNG/JPG only, 4MB max, min 600px width, use a logical
            name. eg: "forest_admin_building.png", not "final_render_2.png".</span>

        <input type="submit" value="Submit" name="submit">
    </form>
    <p>
        Note that you will not see your work immediately and all content will be
        moderated before being published.
    </p>
</section>
</div>
